
 
<div class="container-fluid top-padding">  
  
    <div id="stepan" class="bio grey rounded">
      <img src="http://itp.nyu.edu/image.php?width=150&height=150&cropratio=1:1&image=/people_pics/itppics/sb3367.jpg"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

   <div id="greg" class="bio grey rounded">
      <img src="http://itp.nyu.edu/image.php?width=150&height=150&cropratio=1:1&image=/people_pics/itppics/dorsag01.jpg"><p>Greg Dorsainville has a background in biomedical research science and is currently exploring ways to use media to teach a wider audience complicated science ideas. </p><h4><a href="https://twitter.com/#!/ScienceLifeNY">twitter</a></h4><h4><a href="http://www.linkedin.com/pub/greg-dorsainville/10/131/249">linkedin</a></h4><h4><a href="https://vimeo.com/sciencelife">vimeo</a></h4>
    </div>

    <div id="alex" class="bio grey rounded">
      <img src="http://itp.nyu.edu/image.php?width=150&height=150&cropratio=1:1&image=/people_pics/flash/kozovski_a_299879.jpg"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat n ulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
    </div>

</div>